@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use "sass:math";

.contact {
  background-color: var.$background-color-secondary;
  @extend %section;
  @include mix.flex-container($justify-content: center);
  color: var.$text-color-secondary;

  h3 {
    color: var.$text-color-secondary;
  }

  p {
    font-size: 25px;
  }

  a {
    color: var.$text-color-secondary;
    padding: var.$gutter-base;
    background-color: var.$background-color-button2;
    text-align: center;
    border-radius: 40%;
  }
}
.back {
  background-color: var.$background-color-secondary;
  padding: var.$gutter-base;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  a {
    color: var.$text-color-secondary;
  }
}
