@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use "sass:math";

.skills {
  @extend %section;

  .container {
    display: flex;
    justify-content: center;
    gap: var.$gutter-base * 2;
    color: var.$text-color-base;

    .software,
    .design {
      margin-top: var.$gutter-medium;
      text-align: center;
      flex-basis: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-size: 20px;
      }

      li {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        padding: var.$gutter-medium;
        background-color: var.$background-color-button;
        border-radius: 15px;
        text-align: center;
      }
    }
  }
}
