@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: normal;
}

footer, .team, .mission, .offers, .main .mental-health, .navbar .search {
  padding-block: 3.75rem;
}
@media (max-width: 425px) {
  footer, .team, .mission, .offers, .main .mental-health, .navbar .search {
    padding-block: 1.875rem;
  }
}

footer .wrapper, .main .wrapper, .navbar .menu, .navbar .search {
  width: 80%;
  margin-inline: auto;
}

footer {
  border-top: 1px solid #757575;
  border-bottom: 1px solid #757575;
}

.navbar {
  background-color: #d5e5df;
}
.navbar .menu ul {
  display: flex;
  justify-content: flex-end;
  gap: 1.875rem;
  padding-block: 1.875rem;
}
@media (max-width: 425px) {
  .navbar .menu ul {
    justify-content: center;
  }
}
.navbar .menu ul a {
  color: #757575;
  font-size: 20px;
}
.navbar .search {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  justify-content: center;
  align-items: center;
}
.navbar .search .search-input {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
}
.navbar .search .search-input input {
  border: 1px solid #757575;
  border-radius: 30px;
  padding: 0.9375rem;
  width: 100%;
}
.navbar .search .search-input input:focus + i {
  display: none;
}
.navbar .search .search-input i {
  position: absolute;
  left: 20px;
}

.main {
  background-color: #d5e5df;
}
.main .mental-health {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  justify-content: center;
  align-items: center;
  color: #757575;
}
.main .mental-health h1 {
  text-transform: uppercase;
}
@media (max-width: 425px) {
  .main .mental-health h1 {
    font-size: 30px;
  }
}
.main .mental-health img {
  width: 50%;
  margin-bottom: 1.875rem;
}
@media (max-width: 425px) {
  .main .mental-health img {
    width: 70%;
  }
}
.main .mental-health a {
  padding: 0.9375rem;
  background-color: #fbf0c9;
  text-align: center;
  color: #757575;
  border-radius: 20px;
}

.mission {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  justify-content: center;
  align-items: center;
  color: #757575;
  text-align: center;
}
.mission p {
  width: 50%;
}
.mission h1 {
  text-transform: uppercase;
}
@media (max-width: 425px) {
  .mission h1 {
    font-size: 30px;
  }
}

.offers {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  color: #757575;
}
@media (max-width: 425px) {
  .offers {
    align-items: center;
  }
}
.offers h1 {
  text-transform: uppercase;
}
@media (max-width: 425px) {
  .offers h1 {
    font-size: 30px;
  }
}
.offers li {
  display: flex;
  gap: 0.9375rem;
  align-items: baseline;
}
.offers li p {
  text-transform: uppercase;
  background-color: #fbf0c9;
  padding: 0.625rem;
  width: 250px;
  text-align: center;
  border-radius: 20px;
}
@media (max-width: 425px) {
  .offers li p {
    width: 200px;
  }
}
.offers li i {
  color: #3662d5;
  background-color: #d5f0fe;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
}

.team {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  justify-content: center;
  align-items: center;
  color: #757575;
  gap: 1.875rem;
}
.team h1 {
  text-transform: uppercase;
}
@media (max-width: 425px) {
  .team h1 {
    font-size: 30px;
  }
}
.team .person {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}
@media (max-width: 425px) {
  .team .person {
    align-items: center;
  }
}
@media (max-width: 425px) {
  .team .person img {
    width: 50%;
  }
}
.team .person p {
  text-align: left;
}
@media (max-width: 425px) {
  .team .person p {
    text-align: center;
  }
}

footer {
  color: #757575;
  background-color: white;
}
footer .wrapper .back {
  display: flex;
  color: #757575;
  gap: 10px;
  align-items: baseline;
  padding-block: 1.875rem;
}
footer .wrapper .back a {
  color: #757575;
}
footer .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .icons {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 425px) {
  footer .icons {
    margin-top: 3.75rem;
  }
}
footer .icons ul {
  display: flex;
  background-color: #1c3e3a;
  padding: 0.9375rem;
  border-radius: 20px;
  border: none;
}
footer .icons ul li i {
  color: #1c3e3a;
  background-color: #cbe1cd;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
}
@media (max-width: 425px) {
  footer .icons ul li i {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
footer .icons a {
  background-color: #1c3e3a;
  text-transform: uppercase;
  padding: 0.9375rem;
  border-radius: 20px;
  color: #cbe1cd;
  text-align: center;
}/*# sourceMappingURL=main.css.map */