@use "sass:math";

@function rem-calc($size) {
  @return (math.div($size, 16)) * 1rem;
}

// Font settings
$font-family-base: "Catamaran", sans-serif;

$font-size-small: rem-calc(13);
$font-size-base: rem-calc(20);
$font-size-medium: rem-calc(26);

$heading-size-tiny: rem-calc(25);
$heading-size-small: rem-calc(28);
$heading-size-big: rem-calc(44);
$heading-size-bigger: rem-calc(60);

$line-height-base: 1.5;
$line-height-small: 1;

$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-base: $font-weight-normal;

// Size settings
$gutter-base: rem-calc(30);
$gutter-medium: math.div($gutter-base , 2);
$gutter-small: math.div($gutter-base , 3);

$border-radius: 10px;

// Color settings
$text-color-base:  #757575;
$text-color-primary:  #000;
$text-color-secondary:  #6c4d5d;
$text-color-subtitle: #696969;

$background-color-base: #e2e1e1;
$background-color-primary: black;
$background-color-secondary: #ebebeb;
$background-color-button: #d4d0dc;
$background-color-button2: #eee3e3;



