@use "sass:math";

@function rem-calc($size) {
  @return (math.div($size, 16)) * 1rem;
}

// Font settings
$font-family-base: "Catamaran", sans-serif;

$font-size-small: rem-calc(13);
$font-size-base: rem-calc(16);
$font-size-medium: rem-calc(20);

$heading-size-tiny: rem-calc(25);
$heading-size-small: rem-calc(28);
$heading-size-big: rem-calc(44);
$heading-size-bigger: rem-calc(60);

$line-height-base: 1.5;
$line-height-small: 1;

$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-base: $font-weight-normal;

// Size settings
$gutter-base: rem-calc(30);
$gutter-medium: math.div($gutter-base , 2);
$gutter-small: math.div($gutter-base , 3);

$border-radius: 10px;

// Color settings
$text-color-base:  #757575;
$text-color-purple:  #92457b;
$text-color-secondary:  #6c4d5d;
$text-color-subtitle: #818181;

$background-color-primary: #e6e6e4;
$background-color-secondary: #e9e9e7;

$btn-green: #9fc085;
$btn-green-hover: #82ac61;

$btn-orange: #eac37e;
$btn-orange-hover: #d6b171;

$btn-purple: #beb1ba;

$btn-brown: #543b1d;
$btn-brown-hover: #463118;




