@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use "sass:math";

.catalogue {
  .button {
    @extend %btn-green;
  }

  .list {
    li {
      a {
        color: var.$btn-green;
        font-weight: bold;
        font-size: 22px;
      }
    }
  }
}
