@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use "sass:math";

h1 {
  text-align: center;
  font-weight: normal;
}

.back {
  @extend %back-button;
}

.logos {
  @extend %wrap;
  display: flex;
  flex-direction: column;
  gap: var.$gutter-base;
  width: 50%;

  @include mix.mobile-l-styles {
    width: 80%;
    gap: 0;
  }
}
