@use "../abstracts/variables" as var;
@use "sass:math";

// RESPONSIVE LAPTOP FIRST DESIGN MIXINS

@mixin tablet-styles {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile-l-styles {
  @media (max-width: 425px) {
    @content;
  }
}

%section {
  padding-block: (var.$gutter-base * 2);

  @include mobile-l-styles {
    padding-block: (var.$gutter-base);
  }
}

%wrap {
  width: 80%;
  margin-inline: auto;
}

%back-button {
  display: flex;
  color: black;
  gap: 10px;
  align-items: baseline;
  padding: 10px;
  a {
    color: black;
  }
}
