@use "../abstracts/variables" as var;
@use "sass:math";

html {
  font-size: 16px;
}

body {
  font-family: var.$font-family-base;
  font-weight: var.$font-weight-base;
  line-height: var.$line-height-base;
}

