@use "../abstracts/variables" as var;
@use "sass:math";

// RESPONSIVE LAPTOP FIRST DESIGN MIXINS

@mixin tablet-styles {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile-l-styles {
  @media (max-width: 425px) {
    @content;
  }
}

%section {
  padding-block: (var.$gutter-base * 2);

  @include mobile-l-styles {
    padding-block: (var.$gutter-base);
  }
}

%wrap {
  width: 80%;
  margin-inline: auto;
}

%content-wrap {
  width: 90%;
  margin-inline: auto;
}

%border-top-radius {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}