@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use "sass:math";

nav {
  position: fixed;
  top: 0;
  left: 0;
  padding-block: 20px;
  z-index: 1000;
  text-align: center;
  width: 100%;

  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.banner {
  @extend %section;
  @extend %wrap;
  text-align: center;

  .banner-image {
    text-align: center;
    position: relative;
    padding-bottom: 0;

    @include mix.mobile-l-styles {
      text-align: left;
    }

    .star-1 {
      position: absolute;
      top: 30px;
      left: 130px;
      font-size: 50px;

      @include mix.mobile-l-styles {
        top: 10px;
        left: 250px;
      }
    }

    .star-2 {
      position: absolute;
      top: 150px;
      right: 150px;
      font-size: 70px;

      @include mix.mobile-l-styles {
        top: 280px;
        left: 250px;
      }
    }

    .star-3 {
      position: absolute;
      top: 1px;
      right: 250px;
      font-size: 30px;
    }
  }
}

.popular {
  @extend %wrap;
  @extend %section;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .serums {
    text-align: right;
  }
}

.recommended,
.image {
  @extend %section;
  @extend %wrap;
  display: flex;
  flex-direction: column;
  align-items: center;

  .images {
    display: flex;
    gap: var.$gutter-medium;
  }

  a {
    color: black;
    background-color: var.$background-color-button;
    padding: var.$gutter-small;
    margin-top: var.$gutter-base;
  }
}

.image {
  img {
    width: 30%;

    @include mix.mobile-l-styles {
      width: 50%;
    }
  }
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  a {
    color: black;
    background-color: var.$background-color-button;
    padding: var.$gutter-small;
    margin-top: var.$gutter-base;
    width: 200px;
  }
}

.back {
  @extend %wrap;
  display: flex;
  color: black;
  gap: 10px;
  align-items: baseline;
  padding-block: var.$gutter-base;
  a {
    color: black;
  }
}
